@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #4a90e2;
    --color-secondary: #50e3c2;
    --color-b: 	#F0F8FF;
    --color-be: 	#F5FFFA;
    --color-bes: 	#e7f2e9  ;
    --color-best: 	#f2ecff    ;
    --font-robo: "Roboto", sans-serif; 
    --font-winky: "Winky Rough", sans-serif;
    --font-bebas: "Bebas Neue", sans-serif;
    --font-lobster: "Lobster", sans-serif;
    --font-charm: "Charm", sans-serif;
    
}   
@layer components {
  .card {
    @apply bg-green-800 rounded-2xl mx-10 my-5 shadow-lg ring-1 ring-green-50;
  }
}

 